{% extends 'staff_templates/base_staff.html' %}
{% load static %}
{% block sub_title %}Attendance{% endblock sub_title %}
{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Attendance</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                      <label>Subject Name</label>
                      <select class="form-control" name="subject" id="subject">
                          {% for subject in subject %}
                              <option value="{{ subject.id }}">{{ subject.subject }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Session</label>
                      <select class="form-control" name="session_year" id="session_year">
                          {% for session in session %}
                              <option value="{{ session.id }}">{{ session.session_start_year }}   {{ session.session_end_year }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" id="fetch_student">Fetch Student</button>
                </div>
            </div>

            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
    <script>
        $(document).ready(function () {
            $('#fetch_student').click(function () {
                var subject=$("#subject").val()
                var session_year=$("#session_year").val()

                $.ajax({
                    url:'{% url 'get_students' %}',
                    type:'POST',
                    data:{subject_id:subject,session_id:session_year},
                })
                    .done(function (response) {
                        console.log(response)
                    })
                    .fail(function () {
                        alert("Error in Fetching Student")
                    })
            })
        })
    </script>
{% endblock custom_js %}