{% extends 'registration/base.html' %}
{% block content %}
    <div class="card-body login-card-body">
      <p class="login-box-msg">Forgot Password</p>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="row">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
          <!-- /.col -->
            {% if error_message %}
                <div class="col-12">
                            <span class="alert alert-danger">{{ error_message }}</span>
                </div>
            {% endif %}
        </div>
      </form>
    </div>
{% endblock content %}