{% extends 'hod_templates/base_hod.html' %}
{% load static %}
{% block sub_title %}Add Students{% endblock sub_title %}
{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Students</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/save_students" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">UserName</label>
                    <input type="text" class="form-control" name="username" placeholder="User Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">First Name</label>
                    <input type="text" class="form-control" name="first_name" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="text" class="form-control" name="last_name" placeholder="last name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="address">
                  </div>
                  <div class="form-group">
                      <label>Course</label>
                      <select class="form-control" name="course_id">
                          {% for course in courses %}
                              <option value="{{ course.id }}">{{ course.course_name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Gender</label>
                      <select class="form-control" name="sex">
                          <option>Male</option>
                          <option>Female</option>
                      </select>
                  </div>
                <div class="form-group">
                    <div class="form-group">
                      <label>Session</label>
                      <select class="form-control" name="session_id">
                          {% for session in session %}
                              <option value="{{ session.id }}">{{ session.session_start_year }}  To  {{ session.session_end_year }}</option>
                          {% endfor %}
                      </select>
                  </div>
                      <label>Profile Pic</label>
                      <input type="file" class="form-control" name="myfile">
                  </div>
                  <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}