{% extends 'hod_templates/base_hod.html' %}
{% load static %}
{% block sub_title %}Staff Leave{% endblock sub_title %}
{% block main_content %}
<!-- Main content -->
    <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Staff Leave Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Staff Id & Name</th>
                      <th>Leave Data</th>
                      <th>Leave Reason</th>
                      <th>Send On</th>
                      <th>Current Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for leave in leaves %}
                            <tr>
                             <td>{{ leave.id }}</td>
                             <td>{{ leave.staff_id_id }}.{{ leave.staff_id.admin.first_name }}</td>
                             <td>{{ leave.leave_date }}</td>
                             <td>{{ leave.leave_message }}</td>
                             <td>{{ leave.created_at }}</td>
                             <td>{% if leave.leave_status == 0  %}<input type="button" class="btn btn-danger" value="Rejected">
                                 {% elif leave.leave_status == 1 %}<input type="button" class="btn btn-success" value="Approved">
                                 {% else %}<input type="button" class="btn btn-info" value="Pending">
                             {% endif %}
                             </td>
                             <td>
                                 <a href="staff_approve_leave/{{ leave.id }}" class="btn btn-success" >Approve</a>
                                 <a class="btn btn-danger" href="staff_disapprove_leave/{{ leave.id }}" >Disapprove</a>
                             </td>
                         </tr>
                      {% endfor %}
                  </tbody>
                </table>
              <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
    <!-- /.content -->
{% endblock main_content %}