{% extends 'hod_templates/base_hod.html' %}
{% load static %}
{% block sub_title %}Manage Student{% endblock sub_title %}
{% block main_content %}
<!-- Main content -->
    <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Student Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User Name</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email Id</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Session Start Year</th>
                        <th>Session End Year</th>
                        <th>Course</th>
                        <th>profile pic</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for student in student %}
                         <tr>
                             <td>{{ student.admin.id }}</td>
                             <td>{{ student.admin.username }}</td>
                             <td>{{ student.admin.first_name }}</td>
                             <td>{{ student.admin.last_name }}</td>
                             <td>{{ student.admin.email }}</td>
                             <td>{{ student.gender }}</td>
                             <td>{{ student.address }}</td>
                             <td>{{ student.session_year_id.session_start_year }}</td>
                             <td>{{ student.session_year_id.session_end_year }}</td>
                             <td>{{ student.courese_id.course_name}}</td>
                             <td>{{ student.profile_pic }}</td>
                             <td><a href="/edit_student/{{ student.admin.id }}" class="btn btn-info">Edit</a></td>
                         </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
    <!-- /.content -->
{% endblock main_content %}